@import  '@/assets/scss/base.scss';
@import  '@/assets/scss/typography.scss';
// @forward 'variable.scss';


.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 25px;
    // background-color: $colorGrey;
}

.btn{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 16px;
    font-family: "";

    &--menu{
        padding: 15px 30px;
        background-color: $colorWhite;
        border-radius: 12px;
        border: 1px solid $colorBlack;
        font-family: $fontOpensans;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 22px;

    }
    &--hero1{
        padding: 15px 30px;
        background-color: $buttonColor;
        border-radius: 12px;
        font-family: $fontOpensans;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 22px;
        @media screen and (max-width:714px){
            padding: 5px 10px;
            font-size: 10px;
            } 
    }
    &--hero2{

        background-color: $colorOrange;
        border-radius: 50%;
        font-family: $fontOpensans;
        font-style: normal;
        font-weight: 500;
        height: 40px;
        width: 40px;
        object-fit: contain;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width:714px){
            // //padding: 5px 10px;
            // font-size: 10px;
            height: 30px;
            width: 30px;

            }
    }

    &--easy{
        background-color: $colorWhite;
        border-radius: 50%;
        font-family: $fontOpensans;
        font-style: normal;
        font-weight: 500;
        height: 60px;
        width: 60px;
        object-fit: contain;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--plan{
        background-color: $buttonColor;
        border-radius: 20%;
        font-family: $fontOpensans;
        font-style: normal;
        font-weight: 500;
        height: 60px;
        width: 60px;
        object-fit: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
}