$titleColor : #3A556A;
$buttonColor:#F1A501;
$colorOrange: #DF6951;
$iconColor:#006380;
$colorWhite: white;
$colorBlack:black;
$colorGrey:grey;
$colorTitle:#181E4B;
$btnGrey: #9CA0B0;
$btnWhite:#F5F5F5;

$fontVolkov: 'Volkhov', serif;
$fontPoppins: 'Poppins', sans-serif;
$fontOpensans: 'Open Sans', sans-serif;