$titleColor : #3A556A;
$buttonColor:#F1A501;
$colorOrange: #DF6951;
$iconColor:#006380;
$colorWhite: white;
$colorBlack:black;
$colorGrey:grey;

$fontVolkov: 'Volkhov', serif;
$fontPoppins: 'Poppins', sans-serif;
$fontOpensans: 'Open Sans', sans-serif;